<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">FIAP & Idwall - Challenge</a>
  <button class="navbar-toggler" (click)="isCollapsed = !isCollapsed" type="button" data-toggle="collapse"
    data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav" [collapse]="isCollapsed" [isAnimated]="true">
    <ul class="navbar-nav">
      <li class="nav-item active">
        <a class="nav-link" href="#">Procurados <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="https://github.com/BrunoNishimura/FIAP-Idwall_Challenge" target="_blank">Challenge</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="https://github.com/BrunoNishimura/FIAP-Idwall_Web-Scraping"
          target="_blank">Web-Scraping</a>
      </li>
    </ul>
  </div>
</nav>